
<h1>Choose Question type</h1>
<ul style="list-style-type:none;">
    <li><a asp-area="" asp-controller="Questions" asp-action="Create" style="font-size:16pt">Emoji Response Question</a></li>
    <li><h1 style="font-size:11pt">............................................................</h1></li>
    <li><a asp-area="" asp-controller="QuestionsYN" asp-action="Create" style="font-size:16pt">Yes or No Question</a></li>
    <li><h1 style="font-size:11pt">............................................................</h1> </li>
    <li><a asp-area="" asp-controller="QuestionsIR" asp-action="Create" style="font-size:16pt">Integer Response Question</a></li>
    <li><h1 style="font-size:11pt">............................................................</h1> </li>
    <li><a asp-area="" asp-controller="QuestionsFO" asp-action="Create" style="font-size:16pt">5 Option Custom Question</a></li>
</ul>
