@model IEnumerable<TrinitySurvey.Models.QuestionFO>


<h1>Your Five Option Questions</h1>

@foreach (var question in Model)
{
    <div class="question">
        <div style="font-size:14pt">
            @question.question_body
        </div>
        <div>
            <a asp-action="ResponseList" asp-route-id="@question.question_id">View responses</a>

        </div>

    </div>
}
